body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:924px;
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:924px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:454px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:663px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  position:absolute;
  left:33px;
  top:132px;
  width:375px;
  height:663px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1381 {
  position:absolute;
  left:51px;
  top:169px;
  width:22px;
  height:22px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1383 {
  position:absolute;
  left:186px;
  top:171px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1384 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u1385 {
  position:absolute;
  left:51px;
  top:203px;
  width:338px;
  height:1px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:-8px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
}
#u1387 {
  position:absolute;
  left:33px;
  top:132px;
  width:375px;
  height:25px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1389 {
  position:absolute;
  left:179px;
  top:238px;
  width:80px;
  height:80px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1391 {
  position:absolute;
  left:198px;
  top:338px;
  width:43px;
  height:16px;
}
#u1392 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1393 {
  position:absolute;
  left:51px;
  top:380px;
  width:57px;
  height:144px;
  line-height:36px;
}
#u1394 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
