body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1063px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2198 {
  position:absolute;
  left:199px;
  top:96px;
  width:375px;
  height:1063px;
}
#u2199 {
  position:absolute;
  left:2px;
  top:524px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u2200 {
  position:absolute;
  left:199px;
  top:99px;
  width:375px;
  height:21px;
}
#u2201 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:983px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u2202 {
  position:absolute;
  left:199px;
  top:176px;
  width:375px;
  height:983px;
  font-size:20px;
  text-align:right;
}
#u2203 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2204 {
  position:absolute;
  left:228px;
  top:205px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2205 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2206 {
  position:absolute;
  left:228px;
  top:279px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2207 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2208 {
  position:absolute;
  left:228px;
  top:232px;
  width:317px;
  height:34px;
}
#u2209 {
  position:absolute;
  left:2px;
  top:9px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2210 {
  position:absolute;
  left:199px;
  top:1105px;
  width:375px;
  height:54px;
  font-size:14px;
}
#u2211 {
  position:absolute;
  left:2px;
  top:19px;
  width:371px;
  word-wrap:break-word;
}
#u2212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2212 {
  position:absolute;
  left:228px;
  top:486px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2213 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2214 {
  position:absolute;
  left:228px;
  top:512px;
  width:317px;
  height:34px;
}
#u2215 {
  position:absolute;
  left:2px;
  top:9px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2216 {
  position:absolute;
  left:228px;
  top:305px;
  width:317px;
  height:34px;
}
#u2217 {
  position:absolute;
  left:2px;
  top:9px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2218 {
  position:absolute;
  left:228px;
  top:349px;
  width:141px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2219 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2220 {
  position:absolute;
  left:228px;
  top:422px;
  width:141px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2221 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u2222 {
  position:absolute;
  left:521px;
  top:314px;
  width:15px;
  height:18px;
  color:#999999;
}
#u2223 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u2224 {
  position:absolute;
  left:521px;
  top:520px;
  width:15px;
  height:18px;
  color:#999999;
}
#u2225 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2226 {
  position:absolute;
  left:228px;
  top:556px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2227 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2228 {
  position:absolute;
  left:228px;
  top:582px;
  width:317px;
  height:34px;
}
#u2229 {
  position:absolute;
  left:2px;
  top:9px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2230 {
  position:absolute;
  left:228px;
  top:626px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2231 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2232 {
  position:absolute;
  left:228px;
  top:652px;
  width:317px;
  height:34px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:9px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u2234 {
  position:absolute;
  left:521px;
  top:660px;
  width:15px;
  height:18px;
  color:#999999;
}
#u2235 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2236 {
  position:absolute;
  left:228px;
  top:696px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2237 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2238 {
  position:absolute;
  left:228px;
  top:722px;
  width:80px;
  height:16px;
}
#u2239 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2238_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2240 {
  position:absolute;
  left:347px;
  top:722px;
  width:80px;
  height:16px;
}
#u2241 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2240_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2242 {
  position:absolute;
  left:465px;
  top:722px;
  width:80px;
  height:16px;
}
#u2243 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2242_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2244 {
  position:absolute;
  left:228px;
  top:754px;
  width:80px;
  height:16px;
}
#u2245 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2244_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2246 {
  position:absolute;
  left:228px;
  top:787px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2248 {
  position:absolute;
  left:228px;
  top:817px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2250 {
  position:absolute;
  left:228px;
  top:852px;
  width:197px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2251 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u2252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2252 {
  position:absolute;
  left:228px;
  top:878px;
  width:317px;
  height:34px;
}
#u2253 {
  position:absolute;
  left:2px;
  top:9px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2254 {
  position:absolute;
  left:228px;
  top:932px;
  width:197px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2255 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u2256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2256 {
  position:absolute;
  left:228px;
  top:958px;
  width:317px;
  height:34px;
}
#u2257 {
  position:absolute;
  left:2px;
  top:9px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2258 {
  position:absolute;
  left:228px;
  top:375px;
  width:317px;
  height:34px;
}
#u2259 {
  position:absolute;
  left:2px;
  top:9px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u2260 {
  position:absolute;
  left:521px;
  top:384px;
  width:15px;
  height:18px;
  color:#999999;
}
#u2261 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2262 {
  position:absolute;
  left:228px;
  top:448px;
  width:317px;
  height:34px;
}
#u2263 {
  position:absolute;
  left:2px;
  top:9px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u2264 {
  position:absolute;
  left:521px;
  top:457px;
  width:15px;
  height:18px;
  color:#999999;
}
#u2265 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2266 {
  position:absolute;
  left:701px;
  top:384px;
  width:127px;
  height:16px;
}
#u2267 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2268 {
  position:absolute;
  left:545px;
  top:392px;
  width:0px;
  height:0px;
}
#u2268_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u2268_seg1 {
  position:absolute;
  left:142px;
  top:-10px;
  width:21px;
  height:20px;
}
#u2269 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2270 {
  position:absolute;
  left:338px;
  top:143px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u2271 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u2272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2272 {
  position:absolute;
  left:218px;
  top:144px;
  width:22px;
  height:22px;
}
#u2273 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u2274 {
  position:absolute;
  left:522px;
  top:143px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u2275 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2276 {
  position:absolute;
  left:507px;
  top:787px;
  width:29px;
  height:16px;
}
#u2277 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2278 {
  position:absolute;
  left:507px;
  top:817px;
  width:29px;
  height:16px;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2280 {
  position:absolute;
  left:702px;
  top:787px;
  width:211px;
  height:16px;
}
#u2281 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u2282 {
  position:absolute;
  left:546px;
  top:795px;
  width:0px;
  height:0px;
}
#u2282_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u2282_seg1 {
  position:absolute;
  left:142px;
  top:-10px;
  width:21px;
  height:20px;
}
#u2283 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2284 {
  position:absolute;
  left:702px;
  top:817px;
  width:211px;
  height:16px;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u2286 {
  position:absolute;
  left:546px;
  top:825px;
  width:0px;
  height:0px;
}
#u2286_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u2286_seg1 {
  position:absolute;
  left:142px;
  top:-10px;
  width:21px;
  height:20px;
}
#u2287 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
