body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:924px;
}
#u390 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:924px;
}
#u391 {
  position:absolute;
  left:2px;
  top:454px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:663px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u392 {
  position:absolute;
  left:33px;
  top:132px;
  width:375px;
  height:663px;
}
#u393 {
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:85px;
}
#u394 {
  position:absolute;
  left:149px;
  top:269px;
  width:143px;
  height:84px;
}
#u395 {
  position:absolute;
  left:2px;
  top:26px;
  width:139px;
  word-wrap:break-word;
}
#u396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
}
#u396 {
  position:absolute;
  left:33px;
  top:132px;
  width:375px;
  height:25px;
}
#u397 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u398 {
  position:absolute;
  left:73px;
  top:413px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u399 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u400 {
  position:absolute;
  left:73px;
  top:479px;
  width:61px;
  height:19px;
  font-size:16px;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u402 {
  position:absolute;
  left:159px;
  top:409px;
  width:210px;
  height:30px;
}
#u402_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u403 {
  position:absolute;
  left:159px;
  top:474px;
  width:210px;
  height:30px;
}
#u403_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u404 {
  position:absolute;
  left:150px;
  top:654px;
  width:141px;
  height:16px;
}
#u405 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u406 {
  position:absolute;
  left:150px;
  top:581px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u407 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
